---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "De blog van Luk";
---

<body>
  <BaseLayout>
    <p>This is where I will post about my journey learning Astro2.</p>
  </BaseLayout>
</body>
