---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header>
  <p>dit is de header</p>
  <Hamburger />
  <nav>
    <Navigation />
  </nav>
  <p>einde header</p>
</header>
